/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #dff5e1;
    color: #333;
}

/* Menu Section */

.menu-section {
    background: #489078;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
    height: 66em;
    width: 35em;
}



.menu-container {
    background: #444;
    border-radius: 10px;
    color: #fff;
    height: 32em;
    width: 29em;
  
    padding: 1rem;
    display: flex;
    flex-direction: column;
   
}

.dish-container {
    background-color: #444;
    color: #fff;
    padding: 1.5rem;
    
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    border-bottom: 1px dotted #ccc;
   
}

.dish-container:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    background-color: #353131;
}

.dish-container:active {
    transform: scale(0.98);
    background-color: #c91c1c;
    box-shadow: none;
}

.dish-container:last-child {
    border-bottom:none ;
}

.dish-container h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.ingredients {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: #ccc;
}

/* Hover effect for borders */
.dish-container:hover .ingredients {
    color: #fff;
}


/* Cart Section */



.cart-icon {
    position: relative;
    cursor: pointer;
}

.cart-icon img {
    width: 40px;
    background-color: #ccc;
    position: absolute;
    top: -5px;
    right: -1px;
    

}

.cart-icon span {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: #ff5722; /* Använd befintlig färg */
    color: white;
    border-radius: 50%;
    width: 24px;  /* Fixad bredd */
    height: 24px; /* Fixad höjd */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    font-weight: bold;
    text-align: center;
    line-height: 1;
}

/* Selectable Section Styles */
.selectable-section {
    background-color: #444;
    color: #fff;
    padding: 1rem;
    border-radius: 8px;
    width: 29em;
    padding: 20px;
    margin: 20px auto;
}

.selectable-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content:stretch;
}

.selectable-button {
    background-color: #888;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.2s;
}

.selectable-button:hover {
    background-color: #666;
    transform: scale(1.05);
}

.selectable-button.active {
    background-color: #222;
    color: #fff;
    font-weight: bold;
}
